@import 'tailwindcss';

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(8px); }
  to   { opacity: 1; transform: translateY(0); }
}
